<div>
<!--  <div class="section">-->
<!--    <button (click)="handleClick()">go to componentB</button>-->
<!--  </div>-->
<!--  <div>{{serviceB.value}}</div>-->
  <div>
    preloading
    <app-preloading></app-preloading>
  </div>
  <div class="links section">
    <a [routerLink]="['/module-a/service-registry']">服务注册的方式</a>
    <a [routerLink]="['/module-a/dependency-creation']">创建依赖对象的方式</a>
    <a [routerLink]="['/module-a/injector-hierarchy']">依赖注入的层级</a>
    <a [routerLink]="['/module-a/resolution-modifiers']">解析修饰符</a>
    <a [routerLink]="['/module-a/create-injector']">手动创建注入器</a>
    <a [routerLink]="['/module-a/for-child']">forChild</a>
  </div>
</div>
