<form action="" [formGroup]="form">
  <h3>-公开信息-</h3>
  <p formGroupName="publicInfo">
    <label for="idCard">* 姓名：</label>
    <input id="name" autocomplete="off" type="text" formControlName="name">
  </p>

  <br>

  <h3>-隐私信息-</h3>
  <div formGroupName="privateInfo">
    <p>
      <label for="idCard">* 身份证：</label>
      <input id="idCard" autocomplete="off" type="text" formControlName="idCard">
    </p>

    <p >
      <label for="mobile">手机号：</label>
      <input id="mobile" autocomplete="off" type="number" formControlName="mobile">
    </p>
  </div>

  <button (click)="submit()">提交</button>
</form>
