<section class="container">
  <h2>Links</h2>
  <ul>
    <li><a routerLink="/form/template-driven-form">模版表单</a></li>
    <li><a routerLink="/form/reactive-form">响应式表单</a></li>
    <li><a routerLink="/form/group">form-group</a></li>
    <li><a routerLink="/form/builder">form-builder</a></li>
    <li><a routerLink="/form/validator">自定义验证器</a></li>
    <li><a routerLink="/form/validator2">自定义验证器2</a></li>
    <li><a routerLink="/form/item">自定义组件</a></li>
    <li><a routerLink="/form/dynamic">动态组件</a></li>
  </ul>

<h2>自适应表单</h2>
  Favorite Color: <input type="text" class="xiangyingshi" [formControl]="favoriteColorControl">
  <p>{{favoriteColorControl.value}}</p>
<h2>模板表单</h2>
  Favorite Color: <input type="text" class="muban" [(ngModel)]="favoriteColor">
  <p>{{favoriteColor}}</p>

<pre>
  1、通过测试演示区别————模板表单需要触发changes事件
</pre>
</section>


