<div>
  <div>sort by: {{sortFlag}}</div>
  <table class="persons">
    <tr>
      <th (click)='sortBy("name")'>Name<span class="sort-icon">↕</span></th>
      <th (click)='sortBy("age")'>Age<span class="sort-icon">↕</span></th>
      <th (click)='sortBy("sex")'>sex<span class="sort-icon">↕</span></th>
      <th (click)='sortBy("birthday")'>birthday<span class="sort-icon">↕</span></th>
      <th (click)='sortBy("telephone")'>telephone<span class="sort-icon">↕</span></th>
    </tr>
    <tr *ngFor="let person of persons">
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
      <td>{{getSexName(person.sex)}}</td>
      <td>{{formatDate(person.birthday)}}</td>
      <td>{{formatTelephone(person.telephone)}}</td>

<!--      <td>{{person.sex | sex}}</td>-->
<!--      <td>{{person.birthday | formatDate}}</td>-->
<!--      <td>{{person.telephone | formatTelephone}}</td>-->
    </tr>
  </table>
</div>
